table {
    /*font-family: "Fraunces", serif;*/
    font-family: 'Roboto';
    font-size: 100%;
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid #00000014;
}

table td,
table th {
    border: 1px solid #00000014;
    padding: 0.2rem 0.2rem;
}

table thead th,
table thead {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    /*background: white;*/
    color: #fff;
    background-color: cornflowerblue;
}

tr:nth-child(even) > td {
    background-color: #f2f2f2 !important;
}

table td {
    background: #fff;
    padding: 4px 5px;
    text-align: center;
}

table tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
}


table tbody th {
    position: sticky;
    left: 0;
    background: white;
    /*z-index: 1;*/
}

caption {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    /*left: 0;*/
}

[role="region"][aria-labelledby][tabindex] {
    width: 100%;
    max-height: calc(100vh - 65px);
    /*max-height: calc(100vh - 67px);*/
    overflow: auto;
}